html,body {
	height: 100%;
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
    list-style-type: none;
    font-size: 1em;
    font-weight: normal;
    font-family: 'RobotoDraft', sans-serif;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
